html {
    font-family: 'Nunito';
}

body {
    background-color: #130f0d;
    color: white;
}

.boards {
    display: flex;

    margin-top: 32px;
}

.boards .board {
    background-color: #141316;
    border: 1px solid #fd951f11;
    border-radius: 4px;

    margin: 0 16px;
}

.boards .board h3 {
    padding: 16px;
    margin: 0;
    color: #fd951f;
}

.boards .board .dropzone {
    padding: 16px;
    min-width: 282px;
    min-height: 200px;
}

.board .dropzone .card {
    background-color: #1A1A1C;
    padding: 16px;
    box-shadow: 0px 2px 2px -1px #fd951fcc;
    width: 250px;
    margin: 25px 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    background: #1A1A1C;
}

.dropzone .card .status {
    width: 30px;
    height: 8px;
    background: gray;
    margin-bottom: 16px;
    border-radius: 8px;
}

.dropzone .card .status.green {
    background: #23d2ac;
}

.dropzone .card .status.blue {
    background: #33adff;
}

.dropzone .card .status.red {
    background: red;
}

.cards, .dropzones {
    transition: 5s;
}

.highlight {
    transition: 1s;
    background-color: white;
}

.isDragging {
    cursor: grab;
    opacity: 0.3;
}

.over {
    background-color: #4cd13711;
}